PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/your_db_name
JWT_SECRET=your_jwt_secret_key

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_apppassword
FROM_EMAIL=noreply@j2autoparts.com